*{
    padding: 0px;
    margin: 0px;
}
#navbar{
    background-color: #0f1111;
    height: 40px;
    border-style: solid;
    border-color:rgb(100, 166, 223);
    border-width: 5px;
    
}

a{
    color:white;
    margin-right: 150px;
    text-decoration: none;
    
}

button{
    background-color: orange;
}

#in{
    color:orange;
   
}

#first{
    display: inline-block;
    background-color: rgba(0,0,0,0.25);
    height: 400px;
    width:380px;
    border-width: 5px;
    border-color: chocolate;
    border-style: solid;
    margin-left: 6px;
}

#sec{
    display:inline-block;
    background-color: rgba(0,0,0,0.60);
    height: 400px;
    width:380px;
    border-width: 5px;
    border-color: chocolate;
    border-style: solid;
}

#third{
    display:inline-block;
    background-color: rgba(0,0,0,0.90);
    height: 400px;
    width:380px;
    border-width: 5px;
    border-color: chocolate;
    border-style: solid;
}

footer{
    background-color: black;
    color: beige;
    height: 100px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    
}