.me{
    color: brown;
    background-color: beige;
}

p{
    background-color:orange ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}

#pro{
    height: 170px;
    width:75px;
    background-color: antiquewhite;
    border:3px solid black;
    margin-bottom: 0px;
}

#r{
    height:50px;
    width:50px;
    background-color: red;
    /* padding-top:10px;
    padding-left: 10px; */
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;

    border-radius:50%;
}

#y{
    height:50px;
    width:50px;
    background-color: yellow;
    /* padding-top:10px;
    padding-left: 10px; */
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;

    border-radius:50%;
}

#g{
    height:50px;
    width:50px;
    background-color:green;
    /* padding-top:10px;
    padding-left: 10px; */
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;

    border-radius:50%;
}

#line{
    height: 80px;
    width: 0px;
    border: 5px;
    border-style: solid;
    margin-left: 35px;
}

#foot{
    height:0px;
    width:75px;
    border-style: solid;
}
#navbar{
    background-color: #0f1111;
    height: 40px;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    
}

a{
    color:white;
    margin-right: 150px;
    text-decoration: none;
    
}

button{
    background-color: orange;
}

#in{
    color:orange;
   
}

#pos{
    display: inline-block;
    height:100px;
    width: 100px;
    border:2px solid black;
    position: fixed;
    right: 10px;
    background-image:url("softbal.jpg");
    background-size: cover;
}

@media (max-width:300px){
    #media{
        background-color: green;
    }
}