/* body{
    text-align:center;
}

div{
    display: inline-block;
    border:2px solid black;
    height:100px;
    width: 300px;
}

#fix{
    border:2px solid black;
    height:500px;
    width: 400px;
    display: flex; 
    flex-direction: row;
    justify-content:space-around;
    flex-wrap:wrap;
    align-items:flex-start;
    align-content:space-evenly ;
    



    

}

#b1{
    background-color: blue;
    flex-grow:;

}

#b2{
    background-color:red;
    
}

#b3{
    background-color:yellow;
    
}

#b4{
    background-color: brown;
    /* align-self:flex-end; */
    
#big{
    display: inline-block;
    height: 400px;
    width: 400px;
    border:3px solid rgb(25, 175, 209);
    border-radius:9px;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    flex-wrap: wrap;
    align-items:center;
    align-content:space-evenly;
}

.small{
    display: inline-block;
    height:100px;
    width:100px;
    border:2px solid rgb(0, 0, 0);
    border-radius:5px;
    font-weight: bold;
    font-size:3em;
    text-align:center;
    background-color:gray;
}


