body{
    background-color: black;
}


#head{
    display:inline-block;
    height: 50px;
    width:1100px;
    /* border:5px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-content:center;
    font-weight: bolder;
    font-size: 3em;

}

.line{
    display: inline-block;
    height: 50px;
    width:auto;
    line-height:50px;

}

#me{
    color:white;
}
#you{
    color: blueviolet;
   margin-left:4px;

}

#write{
    display:inline-block;
    height:350px;
    width:1100px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction:row;
    margin-top:10px;

}
.part{
    display:inline-block;
    height:350px;
    width:400px;
    /* border:2px solid black; */
   

}

#sec{
    display:block;
    color:white;

}